fastapi
uvicorn
streamlit
langchain
langchain-community
sentence-transformers
faiss-cpu
chromadb
transformers
torch
accelerate
pandas
numpy
pydantic
python-dotenv
tqdm
scikit-learn
openai
huggingface_hub